.hidden {
  display: none;
}

.background {
  background-size: cover;
  background-attachment: fixed;
}

.first-header {
  color: yellow;
  font-style: oblique;
  font-size: 3in;
}

.mr {
  border-radius: 14%;
  width: 47%;
}

.urgehal {
  color: rgb(196, 132, 12);
  font-style: oblique;
  font-size: 24px;
}

.highlight {
  color: rgb(27, 74, 27);
  font-style: oblique;
  font-size: 27px;
}

.azaghal {
  font-style: oblique;
  color: yellow;
}

#result {
  font-style: oblique;
  color: yellow;
  font-size: 36px;
}